<a ng-attr-href="{{activity.url}}" class="pelf-block-link"><div class="pelf-activity-card"
                                                        ng-class="activity ? 'activity' : 'missing'">
  <div class="pelf-activity-card__row">
    <div class="pelf-activity-card__when">{{context}}: {{activity.activity_date_time || ts('(No activity)')}}</div>
    <div class="pelf-activity-card__type">{{activity.activity_type || ''}}</div>
  </div>
  <div class="pelf-activity-card__subject">{{activity.subject || ''}}</div>
  <div class="pelf-activity-card__footer">
    <div class="pelf-activity-card__assignees" ng-if="activity"><i class="crm-i">&#xf2bd;</i> {{activity.assigees || '(unassigned)'}}</div>
    <div class="pelf-activity-card__flags" ng-if="activity">
      <span ng-show="activity.overdue == 1" class="label label-danger" title="">Overdue</span>
    </div>
  </div>
  </div></a>
