<div class="crm-container">
  <h1 crm-page-title>{{ts('Pelf: browse')}}</h1>

  <a href ng-click="reload()">Reload</a>

  <!-- @todo filters -->
  <div class="messages" ng-if="state == 'loading'" >
    Please wait...
  </div>
  <div ng-if="state == 'loaded'" >

    <div class="pelf-browse__filters">
      <form crm-ui-id-scope name="pelf_filters">
        <label for="pelf-sort">Sort by</label>
        <select id="pelf-sort" ng-model="filters.sort" >
          <option value="Status">Status</option>
          <option value="Worth">Worth</option>
          <option value="Adjusted Worth">Adjusted Worth</option>
        </select>

        <label crm-ui-for="filters_projects">Projects</label>
        <input
          ng-list
          crm-ui-id="filters_projects"
          crm-ui-select="{allowClear:true, width: '14rem', multiple: true, data: projectsFilterOptions }"
          ng-model="filters.projects"
          name="projects_filter"
          />

        <label crm-ui-for="filters_fys">Years</label>
        <input
          ng-list
          crm-ui-id="filters_fys"
          crm-ui-select="{allowClear:true, width: '9rem', multiple: true, data: yearsFilterOptions }"
          ng-model="filters.years"
          name="projects_fys"
          />
      </form>
    </div>

    <ul class="pelf-browse__table">
      <li ng-repeat="case in sortedCases"
          class="pelf-browse__case {{ case_statuses[case.status_id].grouping }}"
          style="border-left: solid 4px {{case_statuses[case.status_id].color}}"
          >
          <article class="pelf-browse__case-item">
            <div class="pelf-browse__case-meta">
              {{ case_statuses[case.status_id].label }}
              <!-- todo: priority -->
            </div>
            <div class="pelf-browse__case-name">
              <h1>{{ case.subject }}</h1>
              <div ng-repeat="client_id in case.clients">
                {{ clients[client_id].display_name }}
              </div>
            </div>
            <div class="pelf-browse__case-value">
              <div>&pound;{{ case.funds_total }}</div><!-- @todo lookup local currency -->
              <small>{{ case.worth_percent }}%</small>
            </div>
            <div class="pelf-browse__case-allocations">
              <table>
                <thead>
                  <tr><th>Project</th>
                    <th ng-repeat="fy in financial_years">{{fy}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="project_id in case.projects">
                    <td>{{projects[project_id].label}}</td>
                    <td ng-repeat="fy in financial_years">{{ case.funds[fy][project_id] }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </article>
      </li>
    </ul>

  </div>


</div>
