<div class="crm-container">
  <h1 crm-page-title>{{ pageTitle }}</h1>

  <a href ng-click="reload()">Reload</a>

  <!-- @todo filters -->
  <div class="messages" ng-if="state == 'loading'" >
    Please wait...
  </div>
  <div ng-if="state == 'loaded'" >

    <!-- ====================================== Form ====================================== -->
    <form crm-ui-id-scope name="pelf_filters">
      <div class="pelf-browse__filters">
        <div class="pelf-browse__filter">
          <label crm-ui-for="filters_status">Status</label>
          <input
            ng-list
            crm-ui-id="filters_status"
            crm-ui-select="{allowClear:true, width: '14rem', multiple: true, data: statusFilterOptions }"
            ng-model="filters.status"
            name="status_filter"
            />
        </div>


        <div class="pelf-browse__filter">
          <label crm-ui-for="filters_projects">Projects</label>
          <input
            ng-list
            crm-ui-id="filters_projects"
            crm-ui-select="{allowClear:true, width: '14rem', multiple: true, data: projectsFilterOptions }"
            ng-model="filters.projects"
            name="projects_filter"
            />
        </div>

        <div class="pelf-browse__filter">
          <label crm-ui-for="filters_fys">Years</label>
          <input
            ng-list
            crm-ui-id="filters_fys"
            crm-ui-select="{allowClear:true, width: '9rem', multiple: true, data: yearsFilterOptions }"
            ng-model="filters.years"
            name="projects_fys"
            />
        </div>

        <div class="pelf-browse__filter">
          <label for="pelf-sort">Sort by</label>
          <select id="pelf-sort" ng-model="filters.sort" >
            <option value="Status">Status</option>
            <option value="Worth">Worth</option>
            <option value="Adjusted Worth">Adjusted Worth</option>
          </select>
        </div>

        <div class="pelf-browse__filter">
          <input crm-ui-id="filters_adjusted"
                 type="checkbox"
                 ng-model="filters.adjusted" />
          <label crm-ui-for="filters_adjusted">Show adjusted worth</label>
        </div>
      </div>
    </form>
    <!-- ====================================== Summary ====================================== -->

    <div class="pelf-summary-tables">
      <div class="pelf-summary-tables__table">
        <!-- by project -->
        <table class="pelf-financial">
          <thead> <tr> <th>Project</th>
              <th ng-repeat="fy in financial_years">{{fy}}</th>
            </tr> </thead>
          <tbody>
            <tr ng-repeat="row in projects" >
              <td class="pelf-financial__no-padding"><div class="pelf-status-label">{{row.label}}</div></td>
              <td ng-repeat="fy in financial_years"
                class="pelf-financial__no-padding">
                <div class="pelf-bg-barchart" >
                  <div class="pelf-bg-barchart__bar"
                       ng-if="totals[filters.adjusted ? 'adjusted' : 'total'] != 0"
                       ng-style="{ width: pivotProjects[row.value][fy][filters.adjusted ? 'adjusted' : 'total'] / totals[filters.adjusted ? 'adjusted' : 'total'] * 100 + '%' }">
                  </div>
                  <div class="pelf-bg-barchart__text pelf-money" >
                    {{pivotProjects[row.value][fy][filters.adjusted ? 'adjusted' : 'total']}}
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pelf-summary-tables__table">
        <!-- by status -->
        <table class="pelf-financial">
          <thead> <tr> <th>Status</th>
              <th ng-repeat="fy in financial_years">{{fy}}</th>
          </tr> </thead>
          <tbody>
            <tr ng-repeat="row in sorted_case_statuses" >
              <td class="pelf-financial__no-padding">
                <div class="pelf-status-label" style="border-left: solid 4px {{row.color}}">
                {{row.label}}
              </td>
              <td ng-repeat="fy in financial_years"
                  class="pelf-financial__no-padding">
                <div class="pelf-bg-barchart" >
                  <div class="pelf-bg-barchart__bar"
                       ng-if="totals[filters.adjusted ? 'adjusted' : 'total'] != 0"
                       ng-style="{ width: pivotStatus[row.value][fy][filters.adjusted ? 'adjusted' : 'total'] / totals[filters.adjusted ? 'adjusted' : 'total'] * 100 + '%' }">
                  </div>
                  <div class="pelf-bg-barchart__text pelf-money" >
                    {{pivotStatus[row.value][fy][filters.adjusted ? 'adjusted' : 'total']}}
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- by year -->
      </div>
    </div>


    <!-- ====================================== Listings ====================================== -->
    <ul class="pelf-browse__table">
      <li ng-repeat="case in sortedCases"
          class="pelf-browse__case {{ case_statuses[case.status_id].grouping }}"
          style="border-left: solid 4px {{case_statuses[case.status_id].color}}"
          >
          <article class="pelf-browse__case-item">
            <div class="pelf-browse__case-meta">
              {{ case_statuses[case.status_id].label }}
              <!-- todo: priority -->
            </div>
            <div class="pelf-browse__case-name">
              <h1>{{ case.subject }}</h1>
              <div ng-repeat="client_id in case.clients">
                {{ clients[client_id].display_name }}
              </div>
            </div>
            <div class="pelf-browse__case-value">
              <div>&pound;{{ pelfMoney(case.funds_total, case) }}</div><!-- @todo lookup local currency -->
              <small>{{ case.worth_percent }}%</small>
            </div>
            <div class="pelf-browse__case-allocations">
              <table>
                <thead>
                  <tr><th>Project</th>
                    <th ng-repeat="fy in financial_years">{{fy}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="project_id in case.projects">
                    <td>{{projects[project_id].label}}</td>
                    <td ng-repeat="fy in financial_years">{{ pelfMoney(case.funds[fy][project_id], case) }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </article>
      </li>
    </ul>

  </div>


</div>
