<div>
  <p>{{ts('Example directive (pelf-pivot)')}}</p>

  <table>
    <thead><tr>
        <th></th>
        <th ng-repeat="col in colHeads">{{col.label}}</th>
        <th>Total</th>
    </tr></thead>
    <tbody>
      <tr ng-repeat="row in rowHeads">
        <th>{{ row.label }}</th>
        <td ng-repeat="col in colHeads">
          {{ totals.groups[row.groupKey].groups[col.groupKey].total }}
        </td>
        <td>
          {{ totals.groups[row.groupKey].total }}
        </td>
      </tr>
      <tr>
        <th>Total</th>
        <td ng-repeat="col in colHeads">
          {{ col.total }}
        </td>
        <td>
          {{ totals.total }}
        </td>
      </tr>
    </tbody>

  </table>
</div>
