<div>
  <table class="{{tableClass}}">
    <thead>
      <tr ng-repeat="row in thRows">
        <th ng-repeat="th in row" colspan="{{th.span}}">{{th.formatted}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in tdRows">
        <td pelf-repeat-section ng-repeat-start="cell in row"></td>

        <th ng-if="cell.isHeader" rowspan="{{cell.span || 1}}" ng-class="cell.cellClasses">
          <div ng-if="cell.status"
               ng-style="{ borderLeftColor: cell.status.color }"
               class="pelf-status-label"
               >{{cell.formatted}}</div>
          <div ng-if="cell.project" class="project header" ng-style="{ color: projects[cell.project].color }" >{{cell.formatted}}</div>
          <div ng-if="!(cell.status || cell.project)" class="header">{{cell.formatted}}</div>
        </th>

        <td ng-if="!cell.isHeader" rowspan="{{cell.span || 1}}" ng-class="cell.cellClasses">
          <div class="pelf-bg-barchart" ng-class="[ cell.type, 'data']">
            <div class="pelf-bg-barchart__bar"
                 ng-if="maxValue > 0"
                 ng-style="{ width: cell.value/maxValue*100 + '%',
                             left: (50 - cell.value/maxValue*50) + '%',
                             backgroundColor: cell.barColour,
                             opacity: 0.5
                             }"></div>
            <div class="pelf-bg-barchart__text pelf-money" >
              <!--<pre>{{cell|json}}</pre>-->
              {{cell.formatted}}
            </div>
          </div>
        </td>

        <td pelf-repeat-section ng-repeat-end></td>
      </tr>
    </tbody>

  </table>
</div>
