<div class="crm-container">
  <h1 crm-page-title>{{ pageTitle }}</h1>

  <div class="messages" ng-if="state == 'loading'" >
    Please wait...
  </div>

  <div ng-if="state == 'failed'" >
    <div class="messages error" >{{error}}</div>
  </div>

  <div ng-if="state == 'loaded'" >

    <h2>Project Summary</h2>

    <pelf-pivot
      source-rows="venture.funds"
      projects="projects"
      pivot-type="'full'"
      show-adjusted="false"
      table-class="'pelf-financial'"
      ></pelf-pivot>


    <!-- Create an editable list of funds. We do this as a big ugly form because it's just going to be quicker to use like that. -->
    <h2>Edit Funds</h2>
    <table >
      <thead>
        <tr>
          <th>Amount</th>
          <th>Financial Year</th>
          <th>Project</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in venture.funds" >
          <td><input ng-model="row.amount" ng-change="recalculateTotals(row)" size="6" /></td>
          <td><select ng-model="row.fy_start" ng-change="recalculateTotals(row)" >
              <option ng-repeat="(v, fy) in venture.fiscalYears" value="{{v}}" >{{fy}}</option>
              </select>
          </td>
          <td>
            <select ng-model="row.project" ng-change="recalculateTotals(row)">
              <option ng-repeat="project in projects" value="{{project.value}}" >{{project.label}}</option>
            </select>
          </td>
        </tr>
       </tbody>
    </table>
    <button class="btn btn-secondary" ng-click="venture.funds.push({amount: '', fy_start: '', project: ''})">Add another</button>
    &nbsp;
    <button ng-show="dirty" class="btn btn-primary" ng-class="{disabled: !dirty}"
      ng-click="saveFunds()" >Save changes</button>
  </div>
</div>
