/* Add any CSS rules for Angular module "pelf" */
ul.pelf-browse__table {
  padding: 0;
  margin:0;
}
ul.pelf-browse__table li {
  list-style: none;
  padding:0;
  margin:1rem 0;
}
article.pelf-browse__case-item {
  background: white;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
}
article.pelf-browse__case-item>div {
  padding: 1rem;
}
.pelf-browse__case-meta {
  flex: 1 0 7rem;
}
.pelf-browse__case-name {
  flex: 10 0 12rem;
}
.pelf-browse__case-value {
  flex: 1 0 6rem;
  text-align: right;
}
.pelf-browse__case-allocations {
  flex: 10 0 12rem;
}
.pelf-browse__case-activities {
  flex: 10 0 12rem;
}
article.pelf-browse__case-item h1 {
}
article.pelf-browse__case-item h1 {
  margin: 0;
  font-size: 1.2rem;
}
/** The little case fund allocations tables */
#crm-container .pelf-browse__case-allocations table {
  width: 100%;
  margin:0;
  border:none;
  font-size:0.75rem;
}
#crm-container .pelf-browse__case-allocations table td,
#crm-container .pelf-browse__case-allocations table th
{
  padding:0.25rem 0.5rem;
  text-align: right;
  background: none;
  border: none;
  border-right: solid 1px #ececec;
}

.pelf-browse__filters {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.pelf-browse__filter {
  flex: 1 0 auto;
  padding: 0.5rem;
}
.pelf-browse__case-items-option {
  flex: 0 0 auto;
  padding: 0.5rem;
}
.pelf-browse__filters.case-items {
  justify-content: space-between;
}
/* Summary tables */
table.pelf-financial {
  background: white;
}
table.pelf-financial.by-status td {
    padding:0 !important;
}
td.pelf-financial__no-padding
{
  padding:0 !important;
}
.pelf-money { text-align: right; }
.pelf-status-label { padding: 0.25rem 0.5rem; }
/** background barcharts */
.pelf-bg-barchart {
  height: 2rem;
  min-width: 5rem;
  position: relative;
}
.pelf-bg-barchart__bar {
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #aecde4;
  transition: width 0.3s, left 0.3s;
}
.pelf-bg-barchart__text {
  line-height: 2rem;
  position: relative;
  z-index: 2;
  padding: 0 0.5rem;
}
.pelf-summary-tables {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2rem;
}
.pelf-summary-tables__table {
  flex: 1 0 auto;
  padding: 0 2rem;
}
.pelf-browse__case-activities {
  display:flex;
  flex-wrap:wrap;
  margin: 0 -0.5rem;
}
.pelf-browse__case-activities>div {
  flex: 1 0 10rem;
}
.pelf-browse__details-deselected,
.pelf-browse__details-selected {
  display: inline-block;
  padding: 0 0.5rem;
  cursor: pointer;
}
.pelf-browse__details-selected { background-color: #aecde4; }
.pelf-browse__details-deselected:hover {background-color: #aecde4; }
