/* Add any CSS rules for Angular module "pelf" */

ul.pelf-browse__table {
  padding: 0;
  margin:0;
}
ul.pelf-browse__table>li {
  list-style: none;
  padding:0;
  margin:1.6rem 0;
  border-left: solid 6px transparent;
}
article.pelf-browse__case-item {
  background: white;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
}
article.pelf-browse__case-item>div {
  padding: 1.6rem;
}
.pelf-browse__case-meta {
  flex: 1 0 11.2rem;
}
.pelf-browse__case-name {
  flex: 1 0 19.2rem;
}
.pelf-browse__case-value {
  flex: 1 0 9.6rem;
  text-align: right;
}
.pelf-browse__case-allocations {
  flex: 10 0 19.2rem;
}
.pelf-browse__case-activities {
  flex: 10 0 19.2rem;
}
article.pelf-browse__case-item h1 {
  margin: 0;
  font-size: 1.92rem;
}
/** The little case fund allocations tables */
#crm-container .pelf-browse__case-allocations table {
  width: 100%;
  margin:0;
  border:none;
  font-size:1.2rem;
}
#crm-container .pelf-browse__case-allocations table td,
#crm-container .pelf-browse__case-allocations table th
{
  padding:0.4rem 0.8rem;
  text-align: right;
  background: none;
  border: none;
  border-right: solid 1px #ececec;
}

.pelf-browse__filters {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.8rem;
  margin-right: -0.8rem;
}
.pelf-browse__filter {
  flex: 1 0 auto;
  padding: 0.8rem;
}
.pelf-browse__case-items-option {
  flex: 0 0 auto;
  padding: 0.8rem;
}
.pelf-browse__filters.case-items {
  justify-content: space-between;
}
/* Summary tables */
table.pelf-financial {
  background: white;
}
#crm-container table.pelf-financial tbody td,
#crm-container table.pelf-financial tbody th {
    padding:0;
}
#crm-container table.pelf-financial thead th,
#crm-container table.pelf-financial div.header {
  padding: 0 0.8rem;
}
#crm-container td.pelf-financial__no-padding {
  padding:0;
}
table.pelf-financial div.data {
  text-align: right;
}
.pelf-money { text-align: right; }
.pelf-status-label { padding: 0.4rem 0.8rem; background: white;border-left: solid 6px white; }
/** background barcharts */
.pelf-bg-barchart {
  height: 3.2rem;
  min-width: 8rem;
  position: relative;
}
.pelf-bg-barchart__bar {
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #aecde4;
  transition: width 0.3s, left 0.3s;
}
.pelf-bg-barchart__text {
  line-height: 3.2rem;
  position: relative;
  z-index: 2;
  padding: 0 0.8rem;
}
.pelf-summary-tables {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -3.2rem;
}
.pelf-summary-tables__table {
  flex: 1 0 auto;
  padding: 0 3.2rem;
}
.pelf-summary-tables__table table { width: 100%; }

.pelf-browse__case-activities {
  display:flex;
  flex-wrap:wrap;
  margin: 0 -0.8rem;
}
.pelf-browse__case-activities>div {
  flex: 1 0 16rem;
  padding: 0 0.8rem;
}
.pelf-browse__case-activities>div>div {
  height: 100%;
}
.pelf-browse__details-deselected,
.pelf-browse__details-selected {
  display: inline-block;
  padding: 0 0.8rem;
  cursor: pointer;
}
.pelf-browse__details-selected { background-color: #aecde4; }
.pelf-browse__details-deselected:hover {background-color: #aecde4; }

/* The little activity cards. {{{ */
.pelf-activity-card {
  border-radius: 3px;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  background-clip: border-box;
  overflow: hidden;
  background-color: rgba(0,0,0,0.02);

}
.pelf-activity-card.activity {
  cursor: pointer;
}
.pelf-activity-card.activity:hover {
  background-color: rgba(0,50,100,0.06);
}
.pelf-activity-card.missing {
  /* Fade the text */
  color: rgb(0, 0, 0, 0.5);
}
.pelf-activity-card__row {
  background-color: rgba(0,0,0,0.02);
  border-bottom: solid 1px rgba(0,0,0,0.05);
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.pelf-activity-card__when {
  flex: 1 0 auto;
  padding: 0.4rem 0.8rem;
}
.pelf-activity-card__type {
  flex: 0 0 auto;
  padding: 0.4rem 0.8rem;
}
.pelf-activity-card__subject {
  flex: 1 0 auto;
  padding: 0.4rem 0.8rem;
}
.pelf-activity-card__assignees {
  flex: 0 0 auto;
  padding: 0.4rem 0.8rem;
}
/* }}} */
